form#payment legend {
    
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 1px;
	 padding-top: 1px;
    text-shadow: 0 1px 1px #c0d576;
	
    }

    form#payment {
    background:#FFFFFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 1px;
    width: 1121px;
	height: 605px
    }

form#payment fieldset {
background: #FFFFFF;
background: rgba(255,255,255,.8);
border-color: #e3ebc3;
border-color: rgba(255,255,255,.6);
border-style: solid;
border-width: 2px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
line-height: 30px;
list-style: none;
padding: 5px 10px;
margin-bottom: 2px;
height: 529px;
position: absolute;
left: 8px;
top: 101px;
width: 1099px
}

/* progress bar (enabled with progress: true) */
.progress {
	height:9px; 
	background-color:#C5FF00; 
	position:absolute;
	bottom:0;	
}
/* drag handle */
.handle { 
	background:#fff url(h30.png) repeat-x 0 0; 
	height:28px;
	width:28px;
	top:-12px;
	position:absolute; 
	display:block; 
	margin-top:1px;
	border:1px solid #000;
	cursor:move;
	-moz-box-shadow:0 0 6px #000;
	-webkit-box-shadow:0 0 6px #000;
	-moz-border-radius:14px;
	-webkit-border-radius:14px; 

}
#tabs{
	box-shadow: 0 0 10px #000000;
	margin-left: auto;
    margin-right: auto;
    width: 900px;
	font-size: 10px;
	height: 850px;
	overflow: hidden;
}

/* the input field */
.range {
	border:1px inset #ddd;
	float:left;
	font-size:14px;
	font-weight:normal ;
	margin:0 0 0 15px;
	padding:3px 0;
	text-align:center;
	width:50px;
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 		
}
.slider { 
	background:#3C72E6 url(h30.png) repeat-x 0 0; 
	height:9px; 
	position:relative; 
	cursor:pointer;
	border:1px solid #333;
	width:100px;
	float:left; 
	clear:right;
	margin-top:10px;
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	-moz-box-shadow:inset 0 0 8px #000;
}

#resistance{
Position : absolute;
left : 36px;
top: 100px;
}
#capacitance{
Position : absolute;
left : 36px;
top: 230px;
}

  
#trigger_graph{
	height:150px;
	width:300px;
	top:50px;
	left :750px;
	position:absolute; 
	visibility:hidden;
}
#capacitor_graph{

	height:150px;
	width:300px;
	top:200px;
	left :750px;
	position:absolute; 
	visibility:hidden;
}
#output_graph{

	height:150px;
	width:300px;
	top:350px;
	left :750px;
	position:absolute; 
	visibility:hidden;
}
/*astable css*/

#placeholder{
	position:relative;
	width: 600px; 
	height: 197px;
	left:636px;
	visibility: hidden;
	top:-70px;
}

#monostable{
Position : absolute;
left : 300px;
}
#astable{
Position : absolute;
left : 196px;
top:155px;
}

#resistance1
{
Position : absolute;
left : 301px;
top: 100px;
	
}
#resistance2
{
Position : relative;
left : 601px;
top: 302px;
	
}
#resistance3
{
Position : relative;
left : 431px;
top: 412px;
}
#capacitance1
{
Position : absolute;
left : 21px;
top: 387px;
}
#updateInterval
{
	top:300px;
	left:400px;
	
}















